@font-face {
    font-family: "SourceHanSerifCN";
    src: url("/fonts/SourceHanSerifCN-SemiBold.otf") format("opentype");
    url("/fonts/SourceHanSerifCN-Regular.otf") format("opentype");
    url("/fonts/SourceHanSerifCN-Medium.otf") format("opentype")
；

  }
  
  body {
    font-family: "SourceHanSerifCN", sans-serif;
  }